form .basic-info label{

display:block;
margin-top: 15px;



}
td,th{

border: 1px solid red;
padding: 25px 30px;
}
table{

border-collapse:collapse;

}
.container div{
    border: 1px solid blue;
    height: 50px;
    width: 100px;
    font-size: 3em;

}
.container{
display: flex;
}